body{

}
.header{
    background-image: url('../images/header-bg.jpg');
    background-image: image-set(
        '../images/header-bg.avif' type('image/avif'),
        '../images/header-bg.webp' type('image/webp'),
        '../images/header-bg.jpg' type('image/jpeg')
    );
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
    height: 100vh;
}